<div>    
    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="Cue" ng-model="cue">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Routine" ng-model="routine">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Reward" ng-model="reward">
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="submit()">Submit</button>    
</div>