<div class="habit-state-entry">    
    <div class="list">
        <div class="delete" ng-show="mode.toLowerCase() == 'update'" ng-click="deleteItem()">X</div>
        <label class="item item-input">
            <input type="text" placeholder="Cue" ng-model="cue">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Routine" ng-model="routine">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Reward" ng-model="reward">
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="submit()" ng-bind="mode.toUpperCase()"></button>    
</div>