/* Empty. Add your own CSS if you like */

.state-slider {
    width: 100%;
    height: 30px;
    
    border: 1px solid #c3c3c3;
    display: flex; 
    flex-direction: row;
    align-items: stretch;    
}

.state {
    flex-grow: 1;    
    text-align: center;        
}

.state-collapsed {
    width: 20px;
    background-color: blue;
}


.cue.state-collapsed {
    background-color: red;
}
.routine.state-collapsed {
    background-color: violet;
}
.reward.state-collapsed {
    background-color: blue;
}
